*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
viepep2.0.properties
viepep-repo
libcplex1262.so
/*.so
viepep4.0.properties
mysql.properties
docker.properties
ssh.properties
src/main/resources/natives/

*.properties.bk

.classpath
.project
.settings/
log/
target/
src/main/resources/docker-config/swarm-node-cloud-config.yaml
